*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #fff0ea;
}
header{
    display: grid;
    grid-template-columns: repeat(10,auto);
    grid-template-rows: repeat(3, 200px);
    justify-items: end;
    align-items: center;
    background-image: url(imagens/fundo1.jpg);
    background-size: cover;
}
.titulo{
    font-size: 2.3rem;
    text-align: center;
    background-color: #e99577;
    padding: 1.5rem;
    color: #fff0ea;
    border-radius: 20px;
    grid-column: 5;
    grid-row: 1;
}
#Sobre-nos {
     display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    background-color: #fff0ea;
    margin-top: 3rem;
}
#sobre-loja {
    font-size: 1.5rem;
}
.Sobre-nos{
    background-color: #e99577;
    color: #fff0ea;
    border-radius: 20px;
    padding: 2rem;
    max-width: 630px;
    width: 100%;
}
#bolos{
    font-size: 1.5rem;
}
.Sobre-bolos{
     background-color: #e99577;
    color: #fff0ea;
    border-radius: 20px;
    padding: 2rem;
    max-width: 630px;
    width: 100%;
    height: 250px;

}

h2 {
    text-align: center;
    font-size: 2rem;
    color: #552e19;
    padding: 10px;
    position: relative;
    top: 50px;

}
#botao-cardapio {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}
.cardapio:hover {
        background-color: #fff0ea;
        color: #552e19;
        font-size: 1.7rem;
}
.cardapio{
    text-decoration: none;
    color: #fff0ea;
    background-color: #552e19;
    font-size: 1.5rem;
    border: 2px solid #552e19;
    border-radius: 20px;
    padding: 0.8rem;
    text-align: center;
}
@media (max-width: 650px) {
    #Sobre-nos {
        margin: 3rem;
    }
}
