*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #fff0ea;
}
header{
    background-color: #e99577;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
}
.Titulo-incial{
    text-align: center;
    font-size: 2.5rem;
    padding: 2rem;
    margin-bottom: 2.4rem;
    color: #fff0ea;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
nav{

}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    list-style: none;
}
@media (max-width: 650px) {
    nav ul{
        display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    }
}
.Menu-nav{
    text-decoration: none;
    font-size: 1.5rem;
    color: #fff0ea;
    height: 3rem;
    padding: 0.9rem;
    border-radius: 15px;
    position: relative;
    bottom: 26px;
}
.Menu-nav:hover{
        border: 3px solid #fff0ea;
        padding: 0.9rem;
}
.caseiros-title{
    text-align: center;
    padding-top: 3rem;
    background-color: #fff0ea;
    color: #552e19;
    font-size: 2.5rem;
}
#Caseiros{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 28px;
    flex-wrap: wrap;
    padding: 3rem;
}
#Decorados{
     display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 28px;
    flex-wrap: wrap;
    padding: 3rem;
}
#Cobertura{
     display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 28px;
    flex-wrap: wrap;
    padding: 3rem;
}
#Frutados{
     display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 28px;
    flex-wrap: wrap;
    padding: 3rem;
}
h2{
    background-color: #e99577;
    color: #fff0ea;
    border-radius: 15px;
    font-size: 2rem;
    text-align: center; 
    padding: 2rem;
    margin: 2rem;
}
h4{
    text-align: center;
    padding: 0.8rem;
    font-size: 1.5rem;
    color: #552e19;
}
details{
    text-align: center;
    padding: 1rem;
    color: #552e19;
}
img{
    border-radius: 10px;
    max-width: 400px;
    width: 100%;
    height: 400px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 5);
}
h3{
    padding: 0.5rem;
    text-align: center;
    font-size: 1.5rem;
    color: #552e19;
}
h2{
    font-size: 2.5rem;
    padding: 2rem;
}
article ul{
    list-style: none;
    background-color: #e99577;
    padding: 1rem;
    border-radius: 10px;
    color: #fff0ea;
    font-size: 1.3rem;
    width: 20rem;
    position:absolute;
}
#nav-bar{
    display: none;
}
div{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.Bnt-pedido{
    font-size: 1.6rem;
    background-color: #552e19;
    text-decoration: none;
    color: #fff0ea;
    padding: 1rem;
    border-radius: 15px;
     box-shadow: 0 0 5px rgba(0, 0, 0, 5);
}
.Bnt-pedido:hover{
        padding: 1.1rem;
        font-size: 1.7rem;
}

@media (max-width: 600px) {
    #nav-bar{
        display: block;
    }
    header{
        height: 120px;
        max-width: 100%;
    }
    .Titulo-inicial{
            font-size: 2rem;
            position: relative;
            top: 2rem;
    }
    #nav-bar ul.active{
        display: none;
    }
     #nav-bar ul{
        display: none;
        display: flex;
        flex-direction: column;
        gap: 15px;
        color: #552e19;
        background-color: #f5baa4;
        max-width: 150px;
        width: 100%;
        height: 250px;
        list-style: none;
        position: relative;
        bottom: 10rem;
        left: 1rem;
        border-radius: 10px;
     }
     .tg-items {
            margin-left: 0.5rem;
            padding: 1rem;
            color: #552e19;
            text-decoration: none;
            color: #fff0ea;
            margin: 0.6rem;
            font-size: 1.4rem;
            border-radius: 15px;
            color: #552e19;
     }
     .tg-items:hover{
        border: 2px solid #552e19;
        background-color: #552e19;
        color: #fff0ea;
     }
     .bnt{
        font-size: 2.5rem;
        background-color: transparent;
        border: none;
        padding: 0.2rem;
        margin: 1rem;
        margin-top: 3%;
        color: #fff0ea;
        border-radius: 10px;
        width: 60px;
        position: relative;
        right: 1rem;
        bottom: 150px;
     }
     .bnt:active{
        background-color: #fff0ea;
        color: #552e19;
        border: 2px;
     }
    nav{
        display: none;
    }
    .Bnt-pedido{
        font-size: 1.4rem;
    }
    .Bnt-pedido:hover{
        padding: 1.1rem;
        font-size: 1.5rem;
    }
    }
}